.topBar{
  height: 3rem;
  background: sandybrown;
  display: flex;
  justify-content: space-between;
  padding: .6rem;
  color: sandybrown;
  &-Burger{
    color:white;
    transform: rotate(90deg);
    font-size: 1.2rem;
  }
  &-Cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    background: white;
    border-radius: .2rem;
  &-point{
    width: 1.4rem;
    height: 1.4rem;
    background:white;
    border: 1px solid sandybrown;
    position:absolute;
    transform: (translate(-1.2rem,-1.1rem));
    border-radius: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
}