.productsList{
  overflow: auto;
  height: calc(100vh - 3rem);
  display: flex;
  flex-wrap: wrap;
}

#back{
  position: absolute;
  bottom: 5px;
  max-width: 20rem;
  margin: auto;
  left: 0;
  right: 0; 
  text-align: center;
  background-color: sandybrown;
  color: white;
  padding: .5rem;
  border-radius: .3rem;
}